MONGO_URI='mongodb+srv://username:clusterpassword@clusteraddress'
FLASK_SECRET_KEY='a-very-strong-random-secret-key-please-change'

ADMIN_USERNAME='admin1'
ADMIN_PASSWORD='password1'

ADMIN_USERNAME='admin2'
ADMIN_PASSWORD='password2'

ADMIN_USERNAME='another_admin'
ADMIN_PASSWORD='secure_password'